 
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Desejar deletar o produto</h5>
      </div>
      <div class="modal-body">
        <p>Nome: {{product.name}}</p>
        <p>Categoria: {{product.category}}</p>
        <p>Descrição: {{product.description}}</p>
      </div>
      <div class="modal-footer">
        <button 
            type="button" 
            class="btn btn-secondary" 
            data-bs-dismiss="modal" 
            (click)="activeModal.dismiss()">
            Cancelar
        </button>
        <button 
            type="button" 
            class="btn btn-primary" 
            (click)="deleteProduct()">
            Confirmar
        </button>
      </div>
    </div>
  

